<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" >
</head>
<body>
    
   {{>he}}
    <br>
    <table border="10" width="600" align="center">
        <tr>
            <td>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ullam sed illo, unde, esse hic
                reprehenderit fugiat architecto adipisci libero porro perspiciatis corporis minima laboriosam enim
                itaque tempore vel totam laborum! Deserunt repellendus rem nostrum quibusdam sapiente consequuntur iure
                vitae totam odio? Aliquid voluptates, iste sapiente neque sint nemo doloremque consectetur officia
                consequuntur accusamus deleniti nobis ea, explicabo labore? Ipsa quibusdam nobis doloremque praesentium,
                omnis expedita reiciendis minus quis labore. Ducimus sed beatae suscipit nulla. Quis, ipsum! Recusandae,
                mollitia pariatur molestiae provident similique ipsum non sunt animi nemo nisi odio distinctio excepturi
                tenetur repudiandae vel quas maxime at consequuntur repellat a culpa. Asperiores sunt molestiae aperiam
                doloribus, incidunt laboriosam est distinctio earum repudiandae voluptatum impedit alias ad minus
                maiores, consequuntur ipsa laborum deserunt officiis ratione aliquam dolorum? Repellat quam vel veniam
                modi necessitatibus eligendi iusto quia similique esse facere. Ut voluptate laborum provident, culpa
                ratione ex vero, ad velit harum doloribus distinctio eum optio quam! Aut veniam eum unde sed quas
                expedita quam quos illo cum incidunt dolore corrupti accusantium saepe quis doloremque, vel dolorum,
                animi error possimus eos blanditiis consectetur! Odio nemo vero impedit, provident minima aliquam
                dolore, distinctio neque nesciunt, hic pariatur incidunt molestiae. Non, assumenda. Molestias, quidem
                nihil in repellat quasi ad doloremque et quisquam similique est quae cum voluptates. Delectus
                consequatur quod dolorem minima sed! Magnam hic eaque fuga modi cum totam exercitationem quidem facilis
                facere eius pariatur alias omnis maxime repellendus accusantium, laudantium iste nam perspiciatis ipsam
                consectetur aliquid nesciunt quae molestiae culpa? Quasi temporibus dolorem sint excepturi fuga sequi
                odio nostrum tempora quis. Vero sint molestias esse sequi ratione dolores, perspiciatis culpa officia
                velit, eveniet recusandae doloremque! Voluptas ipsa inventore itaque vitae dolorem doloremque, eaque
                dolores porro laborum quisquam laboriosam ratione exercitationem error aliquam cupiditate rerum
                consequatur sapiente provident adipisci perferendis voluptatibus animi amet.
            </td>
        </tr>
    </table>
<hr>
<br>
    <a href="">one</a>
    <a href="">two</a>

    <marquee behavior="" direction="left">hey</marquee>
</body>
</html>